body {
  background-color: black;
  color: white;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 100%;
}



.header {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px;
}

#mail-btn {
  color: white;
  background-color: black;
  padding: 10px;
  transition: .5s;
  text-decoration: none;
}

.title-box {
  margin: 0;
  opacity: 0;
  position: absolute;
  bottom: 50%;
  left: 37%;
  right: 37%;
  background-color: black;
  transition: .75s;
}

h4 {
  color: rgb(255, 255, 255);
  margin: 0px;
  padding: 5px;
  opacity: 1;
}

button {
  margin: 10px;
  transition: .5s;
  opacity: 1;
  color: white;
  background-color: black;
}

button:hover {
  color: black;
  background-color: white;
}

.pad {
  padding: 0px;
}

.right {
  text-align: end;
}

.zoom {
  overflow: hidden;
}


.box {
  text-align: center;
  height: 250px;
  margin: 0px;
  position: relative;
  filter: grayscale(100%);
  transition: 1.5s;

}


.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 2s;

}


/* ---hover effect--- */

#mail-btn:hover {
  background-color: white;
  color: black;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: .75s;
  overflow: scroll;

}



.box:hover .image {
  transform: scale(1.5);
  transition: transform 25s;

}



.box:hover .overlay {
  height: 100%;
  opacity: .80;

}

.textbox {
  color: white;
  font-size: 13px;
  text-align: center;
  opacity: 1;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20px;
}



.text {
  color: white;
  font-size: 13px;
  text-align: center;
  opacity: 1;
  padding: 50px;
  padding-top: 20px;
}

.languages {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

/* ---footer--- */

.footer {
  text-align: center;
  margin: 20px;
}

.copyright {
  font-size: 14px;
}

/* Badges------ */

.badges {
  width: 10%;
  filter: grayscale(100%);
  border-radius: 3px;
  margin: 10px;
  height: initial;
  transition: .25s;

}

.badges:hover {
  filter: grayscale(0%);
  cursor: pointer;
  text-decoration: none;
}